# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8254023112:AAErSzOM8-2esYAkCmWYpwPZc9YiLUkKCUo
TELEGRAM_ADMIN_ID=669932688
TELEGRAM_ADMIN_CHAT_ID=-1003493855451

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/pravo_xii_bot?schema=public

# TON Blockchain Configuration
TON_WALLET_ADDRESS=UQCVeQzrFSinGaW-rX-_kBh5AJxpok2NMtzg9VmqGiMgYOW8
TON_API_ENDPOINT=https://toncenter.com/api/v2/jsonRPC
# Для тестнета используйте: https://testnet.toncenter.com/api/v2/jsonRPC
TON_API_KEY=

# WebApp Configuration
WEBAPP_URL=https://yourdomain.com
PORT=3000

# Manager Telegram
MANAGER_USERNAME=namewasntdrown

# Timezone
TZ=Europe/Moscow

# Environment
NODE_ENV=production
